<app-emojis-calendar [location]="'top'" [mate]="authService.currentUserSubject.getValue()" [date]="calendarDate"></app-emojis-calendar>
<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime id="datetime" size="fixed" presentation="month-year" (ionChange)="onChangeDate($event)"></ion-datetime>
  </ng-template>
</ion-modal>
<ion-datetime-button datetime="datetime"></ion-datetime-button>
<app-emojis-calendar [location]="'bottom'" [mate]="coupleService.myMate" [date]="calendarDate"></app-emojis-calendar>