<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mon Album</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mon Album</ion-title>
    </ion-toolbar>
  </ion-header>


  <app-pictures-calendar [date]="date" [myMate]="false" [mate]="authService.currentUserSubject.getValue()"></app-pictures-calendar>
  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="datetime-month" size="fixed" presentation="month-year" [max]="today.toISOString()" (ionChange)="onChangeDate($event)"></ion-datetime>
    </ng-template>
  </ion-modal>
  <ion-datetime-button datetime="datetime-month" datetime="datetime-month"></ion-datetime-button>
  <app-pictures-calendar [date]="date" [myMate]="true" [mate]="authService.currentUserSubject.getValue()"></app-pictures-calendar>
</ion-content>