<!-- ? header -->
<ion-header>
  <ion-toolbar>
    <ion-title>Je choisis mon mate</ion-title>
    <ion-progress-bar class="transition-all ease-in-out" *ngIf="loading" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<!-- ? page content -->
<ion-segment [(ngModel)]="page">
  <ion-segment-button value="search">
    <ion-label>Recherche</ion-label>
  </ion-segment-button>
  <ion-segment-button value="invitations">
    <ion-label>Invitations</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-content *ngIf="page === 'search'">
  <ion-searchbar [debounce]="1000" [animated]="true" [autocomplete]="'name'" [(ngModel)]="name"
    [enterkeyhint]="'search'" inputmode="text" placeholder="Ex: Benjamin Gonzva" (ionInput)="loadSingleMates(true)"
    (input)="loading = true"></ion-searchbar>

  <ion-card class="transition-all ease-in"
    *ngIf="!loading && matesService.singleMates && matesService.singleMates.length <= 0">
    <ion-card-header>
      <ion-card-title>Aucun résultat</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Recherchez un autre nom pour obtenir d'autres résultats
    </ion-card-content>
  </ion-card>
  <ion-list class="transition-all ease-in-out"
    *ngIf="!loading && matesService.singleMates && matesService.singleMates.length > 0">
    <ion-item [disabled]="singleMate.id === authService.currentUserSubject.getValue().id" button
      *ngFor="let singleMate of matesService.singleMates" (click)="onSelectItem(singleMate)">
      <ion-avatar slot="start">
        <img *ngIf="singleMate.publicProfile"
          [src]="singleMate.publicProfile.sex === 0 ? '../../../../assets/couple-icons/boy-iso-color.webp' : '../../../../../assets/couple-icons/girl-iso-color.webp'" />
        <img *ngIf="!singleMate.publicProfile" [src]="'../../../../../assets/couple-icons/girl-iso-color.webp'" />
      </ion-avatar>
      <ion-label>{{singleMate.firstname}} {{singleMate.lastname}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-content *ngIf="page === 'invitations'">
  <ion-list class="transition-all ease-in-out" *ngIf="authService.currentUserSubject.getValue().receivedInvitations">
    <ion-item *ngFor="let invitation of authService.currentUserSubject.getValue().receivedInvitations">
      <ion-avatar>
        <img *ngIf="invitation.asker.publicProfile"
          [src]="invitation.asker.publicProfile.sex === 0 ? '../../../../../assets/couple-icons/boy-iso-color.webp' :  '../../../../../assets/couple-icons/girl-iso-color.webp'" />
        <img *ngIf="!invitation.asker.publicProfile" [src]="'../../../../../assets/couple-icons/girl-iso-color.webp'" />

      </ion-avatar>
      <ion-label class="line-clamp-999">{{invitation.asker.firstname}} {{invitation.asker.lastname}}</ion-label>
      <ion-buttons>
        <ion-button color="success" [fill]="true" (click)="onAcceptInvitation(invitation.id)">Accepter</ion-button>
        <ion-button color="failure" [fill]="true" (click)="onDenyInvitation(invitation.id)">Refuser</ion-button>
      </ion-buttons>
    </ion-item>
    <ion-card *ngIf="authService.currentUserSubject.getValue().receivedInvitations.length <= 0">
      <ion-card-header>
        <ion-card-title>
          Vous n'avez aucune invitation de couple
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>