<div class="flex justify-center w-full align-baseline bdg-red-700 h-4/5">
  <div class="relative justify-center w-full p-5 pb-2">
    <img class="object-cover rounded-lg" src="../../../../assets/test-icons/benji.png" />
    <div class="absolute top-0 {{who === 'me' ? 'left-0' : 'right-0'}} bg-white border-2 border-white rounded-full">
      <ion-label *ngIf="who === 'me' && daysEmojisService.myTodaysEmoji" class="text-8xl">{{daysEmojisService.myTodaysEmoji.value}}</ion-label>
      <ion-label *ngIf="who === 'mate' && daysEmojisService.myMatesTodaysEmoji" class="text-8xl">{{daysEmojisService.myMatesTodaysEmoji.value}}</ion-label>
    </div>
      <ion-label id="triggerDayEmojiAlert" class="hover:cursor-pointer absolute top-0 {{who === 'me' ? 'left-0' : 'right-0'}} bg-white border-2 border-white rounded-full text-8xl" *ngIf="(who === 'me' && !daysEmojisService.myTodaysEmoji) || (who === 'mate' && !daysEmojisService.myMatesTodaysEmoji)">{{who === 'me' ? '➕' : '❓'}}</ion-label>
  </div>
</div>
<ion-segment [(ngModel)]="who" (ngModelChange)="who === 'me' ? daysEmojisService.getMyTodaysEmoji() : daysEmojisService.getMyMatesTodaysEmoji()">
  <ion-segment-button value="me">
    <ion-label>{{publicProfileService.myPublicProfile?.nickname}}</ion-label>
  </ion-segment-button>

  <ion-segment-button value="mate">
    <ion-label>{{publicProfileService.myMatePublicProfile?.nickname}}</ion-label>
  </ion-segment-button>
</ion-segment>
<ion-alert *ngIf="who === 'me'" [animated]="true" header="Mets ton emoji du jour !" [buttons]="dayEmojiAlertButtons"
  [inputs]="dayEmojiAlertInputs" trigger="triggerDayEmojiAlert">
</ion-alert>