<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>myProfile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">myProfile</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button (click)="logout()">logout</ion-button>
  <ion-select (ionChange)="onChangeTimezone($event)" [placeholder]="authService.currentUserSubject.getValue().timezone">
    <ion-select-option [value]="zone" *ngFor="let zone of allTimezones">{{zone}}</ion-select-option>
  </ion-select>
</ion-content>