<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="conversation">
      <ion-img [src]="router.url.includes('conversation') ? conversationOnIcon : conversationOffIcon " class="w-1/3" />
      <ion-label>Conversation</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calendars">
      <ion-img [src]="router.url.includes('calendars') ? calendarsOnIcon : calendarsOffIcon " class="w-1/3" />
      <ion-label>Calendriers</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-couple">
      <ion-img [src]="router.url.includes('my-couple') ? myCoupleOnIcon : myCoupleOffIcon " class="w-1/3" />
      <ion-label>Mon couple</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="my-profile">
      <ion-img [src]="router.url.includes('my-profile') ? myProfileOnIcon : myProfileOffIcon " class="w-1/3" />
      <ion-label>Mon profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
