<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="conversation" (click)="onClickTab()">
      <ion-img [src]="router.url.includes('conversation') ? conversationOnIcon : conversationOffIcon " class="w-1/3" />
      <ion-label>Conversation</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="moodboard" (click)="onClickTab()">
      <ion-img [src]="router.url.includes('moodboard') ? calendarsOnIcon : calendarsOffIcon " class="w-1/3" />
      <ion-label>Moodboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-couple" (click)="onClickTab()">
      <ion-img [src]="router.url.includes('my-couple') ? myCoupleOnIcon : myCoupleOffIcon " class="w-1/3" />
      <ion-label>Couple</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="my-album" (click)="onClickTab()">
      <ion-img [src]="router.url.includes('my-album') ? myAlbumOnIcon : myAlbumOffIcon " class="w-1/3" />
      <ion-label>Album</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
